#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-size: 3.2em;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 24px;
}

.App input[type='number'] {
  background-color: black;
  border: none;
  color: white;
  padding: 2px 12px;
  text-align: center;
  border-radius: 8px;
  appearance: none;
  max-width: 10ch;
}
.App input::-webkit-outer-spin-button,
.App input::-webkit-inner-spin-button {
  appearance: none;
  -webkit-appearance: none;
  margin: 0;
}

p,
h1,
input[type='number'] {
  font-size: 3.2rem;
  line-height: 1.5em;
  font-weight: 700;
  text-align: center;
}

span.operator {
  font-size: 4rem;
}

p.congrats {
  color: #22c55e;
  font-size: 2.5rem;
}
