@tailwind base;
@tailwind components;
@tailwind utilities;

html,
#root {
  @apply h-full;
}

body {
  @apply h-full bg-gray-900 text-5xl font-bold text-gray-300;
}

input {
  @apply appearance-none rounded-md border border-gray-500 bg-inherit;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  -webkit-appearance: none;
  margin: 0;
}
